block Body


.module-introduction
	.container
		.row
			.intro-media.col-12.col-md-12.col-lg-5
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/cSIMG7CHyWU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			.intro-content.col-12.col-md-12.col-lg-7
				h2 WE LEGAL
				.desc
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris pretium massa a arcu blandit finibus. Curabitur varius dui id leo tincidunt interdum. Curabitur sagittis pretium rhoncus. In vitae blandit purus. Maecenas id leo eros. Mauris aliquam nunc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris pretium massa a arcu blandit finibus. Curabitur varius dui id leo tincidunt interdum. Curabitur sagittis pretium rhoncus. In vitae blandit purus. Maecenas id leo eros. Mauris aliquam nunc 
				a.cta(href="#!") [Call to action]
.module-service
	.container
		ul.list.row
			li
				a.item(href="#!")
					img(src="images/img_bs.png", alt="")
					p Business Matching
			li
				a.item(href="#!")
					img(src="images/img_tvpl.png", alt="")
					p Tư vấn pháp lý
			li
				a.item(href="#!")
					img(src="images/img_dvkt.png", alt="")
					p Dịch vụ kiểm toán
			li
				a.item(href="#!")
					img(src="images/img_dvdt.png", alt="")
					p Dịch vụ dịch thuật
			li
				a.item(href="#!")
					img(src="images/img_dvtt.png", alt="")
					p Dịch vụ thanh toán
			li
				a.item(href="#!")
					img(src="images/img_web.png", alt="")
					p Thiết kế website
.module-news-home
	.container
		.row
			.market-news.col-12.col-md-12.col-lg-6
				h2.title Market News
				ul.list
					li
						a.item(href="#!")
							span.img(style="background-image:url(https://via.placeholder.com/300")
							.content
								h3 Tin tức thị trường
								span.date-create 08:54 | 14/09/2020
								p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris …. 
								span.cta [More..]
					li
						a.item(href="#!")
							span.img(style="background-image:url(https://via.placeholder.com/360")
							.content
								h3 Tin tức thị trường
								span.date-create 08:54 | 14/09/2020
								p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris …. 
								span.cta [More..]
			.legal-new.col-12.col-md-12.col-lg-6
				h2.title Legal News
				ul.list
					li
						a.item(href="#!")
							span.img(style="background-image:url(https://via.placeholder.com/300")
							.content
								h3 Tin tức thị trường
								span.date-create 08:54 | 14/09/2020
								p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris …. 
								span.cta [More..]
					li
						a.item(href="#!")
							span.img(style="background-image:url(https://via.placeholder.com/360")
							.content
								h3 Tin tức thị trường
								span.date-create 08:54 | 14/09/2020
								p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris …. 
								span.cta [More..]
					li
						a.item(href="#!")
							span.img(style="background-image:url(https://via.placeholder.com/360")
							.content
								h3 Tin tức thị trường
								span.date-create 08:54 | 14/09/2020
								p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate dapibus ortor in tempus. Suspendisse aliquam luctus molestie. Mauris …. 
								span.cta [More..]
								
//- .module-register-service
//- 	.container
//- 		.row
//- 			.image.col-12.col-md-12.col-lg-4
//- 				img(src="https://www.sbsgroup.com.sg/wp-content/uploads/Setting-Up-a-Hong-Kong-Business-in-Singapore-300x220.jpg", alt="")
//- 			.form.col-12.col-md-12.col-lg-8
//- 				.heading-register Request Company Incorporation Services 
//- 				form.body-register
//- 					span * I am interested in
//- 					.checkbox-list
//- 						.item
//- 							input(id="op1" type="checkbox")
//- 							label(for="op1") Tư vấn pháp lý
//- 						.item
//- 							input(id="op2" type="checkbox")
//- 							label(for="op2") Business Matching
//- 						.item
//- 							input(id="op3" type="checkbox")
//- 							label(for="op3") Dịch vụ thanh toán
//- 						.item
//- 							input(id="op4" type="checkbox")
//- 							label(for="op4") Dịch vụ dịch thuật
//- 						.item
//- 							input(id="op5" type="checkbox")
//- 							label(for="op5") Dịch vụ kiểm toán
//- 					.input-list
//- 						input.fill-info(placeholder="Nhập họ và tên")
//- 						input.fill-info(placeholder="Nhập địa chỉ email")
//- 						input.fill-info(placeholder=" Nhập số điện thoại")
//- 						input.fill-info(placeholder="Nhập địa chỉ ")
//- 						textarea(placeholder="Nhập lời nhắn" name="", cols="20", rows="5")
//- 					button.btn-submit Gửi yêu cầu

