block footer
.footer
	a.back-to-top(href="#top")
		<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z"/></svg>
		span Top
	.container
		.footer-widgets
			.row
				.col-12.col-md-6.col-lg-4
					.content
						h3 CONTACT INFO
						.infor-list
							strong SBS Consulting Pte Ltd
							p.addr High Street Centre, #18-03, 1 North Bridge Road, Singapore
							p.phone Phone: <strong>+65-6536 0036</strong>
							p.email Email: <strong>info@sbsgroup.com.sg</strong>
				.col-12.col-md-6.col-lg-4
					.content
						h3 Menu
						ul.list
							li
								a.item(href="#!") Home
							li
								a.item(href="#!") Why Vietname
							li
								a.item(href="#!") One-Stop Services
							li
								a.item(href="#!") Fees
							li
								a.item(href="#!") Business Matching
							li
								a.item(href="#!") Community
							li
								a.item(href="#!") Contact
							
				.col-12.col-md-6.col-lg-4.ml-auto
					.content
						h3 Subscribe Newsletter
						.register-footer
							p.mb-2 For important legal updates and investment opportunities in Vietnam
							.group.d-flex.align-items-center
								input(class="input is-large" type="text" placeholder="Nhập địa chỉ email")
								button.button.is-primary.is-large.ml-2 Subscribe
							.group-social
								a.item(href="#!")
									<i class="fab fa-facebook-f"></i>
								a.item(href="#!")
									<i class="fab fa-instagram"></i>
								a.item(href="#!")
									<i class="fab fa-youtube"></i>
.footer-detail
	.container
		.count-user
			.dot
			span 200 người truy cập
		.term
			p Copyright © 2020 Duong luat
			.term-list
				a.item(href="#!") Privacy Policy
				a.item(href="#!") Terms of Use
				a.item(href="#!") Sitemap
				a.item(href="#!") Feeds



						
				
