block header
header#top
	.language
		ul.list
			li.is-active
				a.item(href="#!") Tiếng việt
			li
				a.item(href="#!") Tiếng anh
			li
				a.item(href="#!") Tiếng nhật
			li
				a.item(href="#!") Tiếng hàn
			li
				a.item(href="#!") Tiếng hàn
	.header-infor
		.logo
			img(src="images/img_logo.png", alt="")
		.info
			h1.title-info Start Your Business in Singapore Today
			.contact-group
				.item
					img(src="https://www.sbsgroup.com.sg/wp-content/themes/Chameleon/images/message.png", alt="")
					a(href="mailto:duongluat@gmail.com") duongluat@gmail.com
				.item
					img(src="https://www.sbsgroup.com.sg/wp-content/themes/Chameleon/images/contact.png", alt="")
					a(href="tel:123456789") 123456789
	#menu_area.menu-area
		.container
			.row
				nav.navbar.navbar-light.navbar-expand-lg.mainmenu
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarSupportedContent.collapse.navbar-collapse
						ul.navbar-nav.mr-auto
							li.active
								a(href='#') Home 
							li
								a(href='#') Why Vietnam
							li.dropdown
								a#navbarDropdown.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Services
								ul.dropdown-menu(aria-labelledby='navbarDropdown')
									li
										a(href='#') Promo Package
									li
										a(href='#') Corporate Services
									li
										a(href='#') Accounting Services
									li
										a(href='#') Translation Services
									li
										a(href='#') Work Permit and Residence Card
									li
										a(href='#') Virtual Office
									li
										a(href='#') Website Services
							li
								a(href='#') Fees
							li
								a(href='#') Business Matching
							li.dropdown
								a#navbarDropdown.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Community
								ul.dropdown-menu(aria-labelledby='navbarDropdown')
									li
										a(href='#') Legal News
									li
										a(href='#') Legal guides
									li
										a(href='#') FAQs
									
							
							li
								a(href='#') Contact
							li.is-setup
								a(href='#') Setup a Company Now
	
	